body {
    display: grid;
    grid-template-rows: 40px 1fr 40px;
}
nav {
    display: grid;
    grid-template-columns: 80% 1fr 1fr 1fr 1fr;
}
article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr 1fr 1fr;
}
.slide-show {
    position: relative;
    margin: auto;
    max-width: 100%;
}
.slide-show img {
    width: 100%;
}
.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}