:root {
    --std: all .2s ease-in-out;
    --background: #0B2447;
    --middle-dark: #19376D;
    --middle-light: #576CBC;
    --text: #A5D7E8;
    --button-bg: rgba(0, 0, 0, 0.45);
    --button-bg-hover: rgba(0, 0, 0, 0.9);
}
body {
    display: grid;
    grid-template-rows: 4rem 60rem 1fr 4rem;
    grid-gap: 1.8rem;
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: var(--background);
    font-size: 2rem;
}
a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}
a:hover {
    color: var(--middle-light);
    text-decoration: underline;
}
nav {
    color: var(--text);
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > img {
    width: auto;
    height: 3.8rem;
    border-radius: 0.5rem;
}
.nav-links {
    width: 30rem;
    display: flex;
    justify-content: space-between;
}
#trigram {
    display: none;
    font-size: 2em;
    background: none;
}
#trigram:hover {
    background: rgba(0, 0, 0, 0.3);
}
button {
    border: 0;
    background: none;
    transition: var(--std);
}
button:hover {
    cursor: pointer;
}
@media only screen and (max-width: 1130px) {
    .slide-show,
    .nav-links {
        display: none;
    }
    #trigram {
        display: block;
    }
    body {
        grid-template-rows: 6rem 1fr 6rem;
    }
}
.slide-show {
    border-radius: 1rem;
    padding: 1em;
    background-color: var(--middle-light);
    position: relative;
    margin: auto;
    max-width: 100%;
}
.slide-show > button {
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--button-bg);
    border-radius: 1rem;
    font-size: 6rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}
.slide-show > button:hover {
    background-color: var(--button-bg-hover);
    color: rgba(255, 255, 255, 1);
}
.slide-show > #back {
    left: 2.5rem;
}
.slide-show > #next {
    right: 2.5rem;
}
.slide-show img {
    border-radius: 1rem;
    width: 100%;
}
.dots-wrapper {
    color: var(--text);
    background-color: var(--button-bg);
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    padding: 8px 12px;
    position: absolute;
    bottom: 1.19em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: var(--std);
}
.dots-wrapper:hover {
    background-color: var(--button-bg-hover);
}
.dots-wrapper > .dot {
    background-color: rgba(255, 255, 255, 0.6);
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.4rem;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--std);
}
.dots-wrapper > .dot:hover {
    background-color: rgba(255,255,255,1);
}
article {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: grid;
    grid-gap: 4rem 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(27rem, 1fr));
    justify-items: center;
    align-items: center;
}
.card {
    width: 100%;
    min-width: 33.5rem;
    max-width: 42rem;
    height: 15em;
}
.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    font-size: 1.6rem;
}