:root {
    --std: all .2s ease-in-out;
    --background: #0B2447;
    --middle-dark: #19376D;
    --middle-light: #576CBC;
    --text: #A5D7E8;
}
body {
    display: grid;
    grid-template-rows: 6rem 50rem 1fr 6rem;
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: var(--background);
    font-size: 2rem;
}
a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}
a:hover {
    color: var(--middle-light);
    text-decoration: underline;
}
nav {
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > img {
    width: auto;
    margin-left: 3rem;
}
.nav-links {
    width: 30rem;
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;
}
#trigram {
    display: none;
    font-size: 2em;
    background: none;
}
#trigram:hover {
    background: rgba(0, 0, 0, 0.3);
}
button {
    border: 0;
    background: none;
    transition: var(--std);
}
button:hover {
    cursor: pointer;
}
@media only screen and (max-width: 1130px) {
    .slide-show,
    .nav-links {
        display: none;
    }
    #trigram {
        display: block;
    }
    body {
        grid-template-rows: 6rem 1fr 6rem;
    }
}
.slide-show > button {
    color: var(--middle-light);
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 6rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}
.slide-show > button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.slide-show > #back {
    left: 0px;
}
.slide-show > #next {
    right: 0px;
}
.slide-show {
    position: relative;
    margin: auto;
    max-width: 100%;
}
.slide-show img {
    width: 100%;
}
article {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: grid;
    grid-gap: 4rem 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(27rem, 1fr));
    justify-items: center;
    align-items: center;
}
.card {
    width: 100%;
    min-width: 33.5rem;
    max-width: 42rem;
    height: 15em;
}
.bottom-bar {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    font-size: 1.6rem;
}